parameters:
    level: 6
    paths:
        - /mnt/code/app
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: false
    ignoreErrors:
    	- '#Call to an undefined static method *#'
    	- '#Access to an undefined property App\\Models\\*#'
